.newcollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}

.newcollections h1{
    color: #060506;
    font-size: 50px;
    font-weight: 600;

}

.newcollections hr {
    width: 200px;
    height: 2px;
    border-radius: 10px;
    background: #000000;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}